<link rel="import" href="/src/redux-store.html" />
<link rel="import" href="/bower_components/polymer-redux/polymer-redux.html">

<dom-module id="my-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div on-click="changexyz">
        Hello World! [[xyz]]
    </div>
  </template>

  <script>
    class MyComponent extends ReduxMixin(Polymer.Element){
        static get is() {
            return 'my-component';
        }

        static get config() {
            return {
                properties:{
                    xyz: {
                        type: Number,
                        statePath: 'xyz'
                    }
                },
                actions: {
                    changexyz_action: function(xyz){
                        return {
                            type: 'CHANGE_XYZ',
                            newXyz: xyz
                        };
                    }
                }
            }
        }

        connectedCallback() {
            super.connectedCallback();
            //const state = this.getState();
        }

        changexyz(){
            this.dispatch('changexyz_action', this.xyz + 1);
        }
    }

    customElements.define(MyComponent.is, MyComponent);
  </script>
</dom-module>